ax-platform==0.3.7
botorch==0.10.0
gpytorch==1.11
hurst==0.0.5
matplotlib==3.9.4
numpy==1.26.4
pandas==2.3.3
pymodbus==3.8.6
PyQt6==6.10.1
pyqtgraph==0.13.7
PyWavelets==1.6.0
scipy==1.13.1
torch==2.8.0
